<template>
  <header>
    <div class="container">
    <a v-on:click="logout" href="#" witdh="1000px">Logout </a>
    <AddTask @add-task="addTask"  /> 
    <Tasks @toggle-reminder="toggleReminder" @delete-task="deleteTask" :tasks="tasks" />
  </div>
  </header>
</template>

<script>
import Login from "./Login.vue";
import Tasks from "./Tasks.vue";
import AddTask from "./AddTask.vue";

export default {
  name: "Header",
  components: {
    Login,
    Tasks,
    AddTask,
  },
  data() {
    return {
      tasks: [],
    };
  },
  methods: {
    logout() {
      localStorage.clear();
      this.$router.push({name:'Login'})
    },
    deleteTask(id) {
      if (confirm("Are you sure you want to delete this task?"))
        this.tasks = this.tasks.filter((task) => task.id !== id);
      //console.log('task', id)
    },
    toggleReminder(id) {
      this.tasks = this.tasks.map((task) =>
        task.id === id ? { ...task, reminder: !task.reminder } : task
      );
    },
    showDetail(id){
      
    },
    addTask(task) {
      this.tasks = [...this.tasks, task];
    },
  },
  created() {
    this.tasks = [
      {
        id: 1,
        text: "Counselor Appointment",
        day: "Dec 12st 3:30pm",
        reminder: true,
        organizer: "Dr Zhang",
        priority: "high",
      },
      {
        id: 2,
        text: "Meeting at School",
        day: "March 3rd at 1:30pm",
        reminder: true,
        organizer: "Dr Davids",
        priority: "high",
      },
      {
        id: 3,
        text: "Grocery Shopping",
        day: "March 3rd at 11:00am",
        reminder: false,
        organizer: "Mrs Lee",
        priority: "high",
      },
    ];
  },
};
</script>

