<template>
    <Header />
    <h1>Hello, welcome to Task Tracker</h1>
</template>>


<script>
import Header from './Header.vue'
export default{
    name:"Home",
    components:{
        Header
    },
    mounted()
    {
        let user = localStorage.getItem('user-info');
        if(!user){
            console.log("Invalid Input")
        }
    }

}
</script>