<template>
  <h1 style="text-align:center">Login</h1>
  <div class="login"  style="text-align:center">
    <input type="text" v-model="email" placeholder="Enter Email" />
    <input type="password" v-model="password" placeholder="Enter Password" />
    <button id="login" v-on:click="login">Login</button>
  </div>
</template>>

<script>

import axios from "axios";
export default {
  name: "login",
  data() {
    return {
      email: "",
      password: "",
    };
  },
  methods: {
    async login() {

      let result = await axios.get("http://localhost:3000/users", {
        email: this.email,
        password: this.password,
      });
      if (result.status == 200 && result.data.length > 0) {
        localStorage.setItem("user-info", JSON.stringify(result.data[0]));
        this.$router.push({ name: "Header" });
      }
    },
    mounted() {
      let user = localStorage.getItem('user-info');
      if(user){
        this.$router.push({name:'Header'})
      }
    },
  },
};
</script>

<style>

.login input {
  width: 400px;
  height: 15px;
  padding: 10px;
  display: block;
  margin-top:50px;
  margin-bottom: 0;
  margin-right: auto;
  margin-left: auto;
  border: 1px solid skyblue;
}

.login button {
  width: 320px;
  height: 20px;
  border: 1px solid skyblue;
  background: skyblue;
  color: #fff;
  cursor: pointer;
  margin-right: auto;
  margin-left: auto;
  margin: 50px;
}
</style>