<template>
  <h1 style="text-align:center">Welcome to Task Tracker</h1>
  <h2 style="text-align:center">Huashuo Zhang</h2>
  <div class="Welcome"   style="text-align:center">
    <a href="/Login">
      <button>Go to login page</button>
    </a>
  </div>
</template>>

<script>
export default {
	name: "Welcome",
}
</script>

<style >
.Welcome button {
  width: 320px;
  height: 20px;
  border: 1px solid skyblue;
  background: skyblue;
  color: #fff;
  cursor: pointer;
  margin-right: auto;
  margin-left: auto;
  margin-top: 100px;
  margin-bottom: auto;
}
</style>>